header{
    padding: 10px;
    background-color: #2E3A46;

    select{
        float: right;
        margin-right: 40px;
    }

    img{
        width: 30px;
        height: 30px;
        background-color: black;
        border-radius: 50%;
    }
}